# Rust intermediate files
target/

# Python temp files
__pycache__/
.ipynb_checkpoints/

# Un-converted font files
*.pcf

# misc
.vscode/
output.svg
*.xcf

# GitHub pages
_site/
.bundle/

# KiCad
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*-rescue.kicad_sym
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backups/
*.kicad_sch.lck
*.kicad_pcb.lck

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
