---
---

@import "{{ site.theme }}";

a {
  color: #0594bb;
}

.markdown-body>h1:first-child>a {
  color: black;
  display: inline-block;
  /*max-width: min-content;*/
  width: 180px;
  text-decoration: none;
  font-weight: normal;
  line-height: 1;
  font-family: Nimbus Sans, Helvetica, Arial, sans-serif;
}
.markdown-body>h1:first-child>a::after {
  --width: 24px;
  --margin: calc(var(--width) / 4);
  content: " ";
  display: block;
  width: var(--width);
  height: var(--width);
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  background-color: #e14646;
  box-shadow: calc((var(--width) + var(--margin)) * 1) 0 #fd8b45, calc((var(--width) + var(--margin)) * 2) 0 #f7e51a, calc((var(--width) + var(--margin)) * 3) 0 #0cc081, calc((var(--width) + var(--margin)) * 4) 0 #38d0fa, calc((var(--width) + var(--margin)) * 5) 0 #e962b2;
}

.fm-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.fm-module-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 310px;
  width: 310px;
  border: 1px solid black;
  padding: 12px;
  box-sizing: border-box;
}

.fm-module-box img {
  height: 200px;
  margin-right: 16px;
  margin-left: 6px;
  border: 1px solid black;
}

.fm-module-box > div {
  flex-grow: 1;
}

.fm-module-box h2 {
  display: block;
}

.fm-module-box h2 a {
  display: none;
}

.fm-hidden-link:hover {
  text-decoration: none;
}

.fm-hidden-link {
  color: unset;
}

ul.fm-index-links-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px;
  width: 100%;
  margin: 24px 0;
  padding: 0;

  li {
    margin: 0;

    .fm-index-link {
      display: block;
      border: 2px solid gray;
      padding: 8px 16px;
    }
  }

}

@media (min-width: 1012px) {
  ul.fm-index-links-container {
    flex-wrap: nowrap;
    gap: 4px;
    justify-content: space-between;
  }
}

.fm-readme-container {

  .fm-row {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:center;
  }

  .fm-readme-module-image {
    height: 700px;
    margin-right: 24px;
    border:2px solid black;
    margin-bottom: 12px;
  }

  .fm-readme-text {
    flex-grow:1;
    flex-shrink:1;
    flex-basis:0;
    min-width:50%;
  }
}

table.fm-current-table {
  max-width: 600px;

  td:first-child {
    font-weight: bold;
  }
}

.fm-etsy-link {
  border: 2px solid black;
  padding: 10px;
  color: black;
  display: block;

  &::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }

  img {
    height: 180px;
    margin-right: 10px;
  }
}
