<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" sizes="any">
  
    {%- seo -%}
    <meta property="og:image" content="{{ page.og_image | default: site.og_image | relative_url }}">
    <meta name="twitter:image" content="{{ page.og_image | default: site.og_image | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script data-host="https://app.microanalytics.io" data-dnt="false" src="https://app.microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
      {{ content }}
    </div>
  </body>
</html>
